h1{
color: rgb(38, 202, 202);
font-size:100px ;
text-align: center;
background-color: rgb(14, 194, 194) rgb(121, 107, 194);
}

h2{
    color: rgb(255, 89, 213);
    font-size: 50px;
    text-align: center;
}
body{
    background-image:url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExZHU0bWtxZHh1bGFtZ2pqdm90d2s2ZWY3Ymhna21zNXY3eHdoODRhaSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/tsVy43fVemIsfe4o6t/giphy.gifS");
    background-size: 300px;

}
img{
    width: 300px;
}
footer{
    background-color: aliceblue;
}
.imagem{
    text-align: center;
    background-color: rgb(196, 48, 151);
    width: 400px;
    margin: auto;
    border-style: dashed;
    border-radius: 50px;
    border-bottom: 50px;
}
