h1{
color: rgb(38, 202, 202);
font-size:100px ;
text-align: center;
background-color: rgb(14, 194, 194) rgb(121, 107, 194);
}

h2{
    color: rgb(255, 89, 213);
    font-size: 50px;
    text-align: center;
}
body{
    background-image: url("https://64.media.tumblr.com/c296b65b45c6fe52e3e0cae3db7be5a5/9958f4438a3896f2-f9/s640x960/346cea518cdf282f0f8c5c8ecf796895f7b5a984.gif");
    background-size: 300px;

}
img{
    width: 300px;
}
footer{
    background-color: aliceblue;
}
.imagem{
    text-align: center;
    background-color: rgb(196, 48, 48);
    width: 400px;
    margin: auto;
    border-style: dashed;
    border-radius: 50px;
    border-bottom: 50px;
}
